$sectionMargin: 10px;

#controls,
#stats {
  float: left;
  margin-bottom: $sectionMargin;
  *,
  button {
    font-size: 20pt;
  }
}

#controls {
  margin-right: 10vw;
  button + button {
    margin-left: $sectionMargin;
  }
}

/* videojs */
.vjs-current-time,
.vjs-time-control {
  display: block !important;
}

.player-dimensions {
  width: 600px;
  height: 350px;
}